@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>
<p><i>(Model View Controller)</i></p>

<p><strong>Creator:</strong> @ViewData["Creato"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/eddyangelop">Git Hub</a>
</address>